# This is a basic workflow to help you get started with Actions

name: mirai-repo Publish

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  release:
    types:
      - created

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Gradle clean
        run: ./gradlew clean
      - name: Gradle build
        run: ./gradlew build # if test's failed, don't publish
      - name: ShadowJar
          run: ./gradlew shadowJar
      - name: Shadow :mirai-console separately
        run: cd mirai-console && ../gradlew shadowJar
      - name: Upload artifact mirai-console
        uses: actions/upload-artifact@v2
        with:
          name: mirai-console
          path: mirai-console/build/libs/*.jar
      - name: Upload artifact mirai-console-graphical
        uses: actions/upload-artifact@v2
        with:
          name: mirai-console-graphical
          path: mirai-console-graphical/build/libs/*.jar
      - name: Upload artifact mirai-console-terminal
        uses: actions/upload-artifact@v2
        with:
          name: mirai-console-terminal
          path: mirai-console-terminal/build/libs/*.jar


#      - name: Upload artifact
#        uses: actions/upload-artifact@v1.0.0
#        with:
#          # Artifact name
#          name: mirai-core
#          # Directory containing files to upload
#          path: "mirai-core/build/libs/mirai-core-*-all.jar"
#      - name: Upload artifact
#        uses: actions/upload-artifact@v1.0.0
#        with:
#          # Artifact name
#          name: mirai-core-qqandroid-all
#          # Directory containing files to upload
#          path: "mirai-core-qqandroid/build/libs/mirai-core-qqandroid-*-all.jar"
